<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Gestion_Agriculture</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Commissionnaire</display-name>
    <servlet-name>Commissionnaire</servlet-name>
    <servlet-class>com.chef_dexp.Commissionnaire.Commissionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commissionnaire</servlet-name>
    <url-pattern>/Commissionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fournisseur</display-name>
    <servlet-name>Fournisseur</servlet-name>
    <servlet-class>com.chef_dexp.Fournisseur.Fournisseur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fournisseur</servlet-name>
    <url-pattern>/Fournisseur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transporteur</display-name>
    <servlet-name>Transporteur</servlet-name>
    <servlet-class>com.chef_dexp.Transporteur.Transporteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transporteur</servlet-name>
    <url-pattern>/Transporteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Parcelle</display-name>
    <servlet-name>Parcelle</servlet-name>
    <servlet-class>com.chef_dexp.parcelle.Parcelle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parcelle</servlet-name>
    <url-pattern>/Parcelle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exploitation</display-name>
    <servlet-name>Exploitation</servlet-name>
    <servlet-class>com.chef_dexp.Exploitation.Exploitation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exploitation</servlet-name>
    <url-pattern>/Exploitation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serre</display-name>
    <servlet-name>Serre</servlet-name>
    <servlet-class>com.chef_dexp.Serre.Serre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serre</servlet-name>
    <url-pattern>/Serre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Utilisateur</display-name>
    <servlet-name>Utilisateur</servlet-name>
    <servlet-class>com.admin.Utilisateur.Utilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilisateur</servlet-name>
    <url-pattern>/Utilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Acheteur</display-name>
    <servlet-name>Acheteur</servlet-name>
    <servlet-class>com.chef_dexp.Acheteur.Acheteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acheteur</servlet-name>
    <url-pattern>/Acheteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Produit</display-name>
    <servlet-name>Produit</servlet-name>
    <servlet-class>com.Agent.Produit.Produit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produit</servlet-name>
    <url-pattern>/Produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Collectage</display-name>
    <servlet-name>Collectage</servlet-name>
    <servlet-class>com.chef_de_culture.Collectage.Collectage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Collectage</servlet-name>
    <url-pattern>/Collectage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Plantation</display-name>
    <servlet-name>Plantation</servlet-name>
    <servlet-class>com.chef_de_culture.Plantation.Plantation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Plantation</servlet-name>
    <url-pattern>/Plantation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Livraison</display-name>
    <servlet-name>Livraison</servlet-name>
    <servlet-class>com.chef_de_culture.Livraison.Livraison</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Livraison</servlet-name>
    <url-pattern>/Livraison</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Traitement</display-name>
    <servlet-name>Traitement</servlet-name>
    <servlet-class>com.chef_de_culture.Traitement.Traitement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Traitement</servlet-name>
    <url-pattern>/Traitement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ennemie</display-name>
    <servlet-name>Ennemie</servlet-name>
    <servlet-class>com.Agent.Ennemie.Ennemie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ennemie</servlet-name>
    <url-pattern>/Ennemie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InStock</display-name>
    <servlet-name>InStock</servlet-name>
    <servlet-class>com.Agent.InStock.InStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InStock</servlet-name>
    <url-pattern>/InStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutStock</display-name>
    <servlet-name>OutStock</servlet-name>
    <servlet-class>com.Agent.OutStock.OutStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutStock</servlet-name>
    <url-pattern>/OutStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Machine</display-name>
    <servlet-name>Machine</servlet-name>
    <servlet-class>com.Agent.Machine.Machine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Machine</servlet-name>
    <url-pattern>/Machine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connexion</display-name>
    <servlet-name>connexion</servlet-name>
    <servlet-class>connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifier_password</display-name>
    <servlet-name>modifier_password</servlet-name>
    <servlet-class>modifier_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifier_password</servlet-name>
    <url-pattern>/modifier_password</url-pattern>
  </servlet-mapping>
</web-app>